<nav class="navbar navbar-default">
<nav class="container-fluid">
  <ul class="nav navbar-nav">
    <li routerLinkActive="active"><a routerLink="auth">Authentification</a></li>
    <li routerLinkActive="active"><a routerLink="posts">Posts</a></li>
      <li routerLinkActive="active"><a routerLink="edit">Nouveau post</a></li>
  </ul>
    <div class="navbar-right"><p>Vous êtes connecté depuis {{ secondes }} secondes</p></div>
</nav>
</nav>
<div style="text-align:center">
    <router-outlet>
    </router-outlet>
</div>