<div class="well">
  <div class="media">
    <a class="pull-left" href="#">
      <img class="media-object" src="{{post.picture}}">
    </a>
    <div class="media-body">
      <h4 class="media-heading">{{post.title}}</h4>
      <p class="text-right">By Flo</p>
      <p>{{post.content}} </p>
      <ul class="list-inline list-unstyled">
        <li><span><i class="glyphicon glyphicon-calendar"></i> Created at: {{post.created_at}} </span></li>
        <span><br> <br>
          <button disabled>
          Like: {{getVote()}}
          </button>
        </span>
        <div style="padding:20px;">
          <button class="btn btn-danger" [disabled]="!isAvailable" (click)="onDeleteVote()">Je n'aime pas</button>
          <button class="btn btn-success" [disabled]="!isAvailable" (click)="onAddVote()">J'aime</button>
        </div>
      </ul>
    </div>
  </div>
</div>
