<div class="well">
  <div class="media">
    <a class="pull-left" href="#">
      <img class="media-object" src="{{picture}}">
    </a>
    <div class="media-body">
      <h4 class="media-heading">{{title}}</h4>
      <p class="text-right">By Flo</p>
      <p>{{content}} </p>
      <ul class="list-inline list-unstyled">
        <li><span><i class="glyphicon glyphicon-calendar"></i> Created at: {{created_at}} </span></li>
      </ul>
    </div>
  </div>
</div>

<a routerLink="/posts">Retour à la liste</a>